<h1>My account</h1>
<br/>
<br/>
<br/>
<h3>Manage Account </h3>
<br/>

<%= link_to "Edit Account Details", edit_user_path(current_user) %>
<br/>
<br/>
<br/>
<h3>Manage Adverts </h3>
<br/>

<%= link_to "add Advert" %>
<br/>

<%= link_to "My Advert" %>
<br/>